
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #EE9CA7, #FFDDE1,#DDD6F3);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  .font{
    font-family:serif;
    color: black;
    
    
  }
  .color{
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue" ;
    
    color:black;
    
  }
  .shopname{
    color:rgb(188, 25, 58);
    font-size: 1.5cm;
    text-align: center;
    font-style: italic;
    font-weight: 500 ;
    font-family: 'Dancing Script', cursive;
  
 
  
  }
 #img{
    opacity:1;
    filter: alpha(opacity=30);
    overflow: hidden;
    border-radius: 5%;
    
 }
 #img:hover{
    opacity:0.5;
    filter: alpha(opacity=100);
    
    -moz-box-shadow: 0 0 10px #47517a;
    -webkit-box-shadow: 0 0 10px #625e5e;
    box-shadow: 0 0 10px #555054;
    transition: 0.5s all ease-in-out;  
  }

  .logo{
    margin-left: 20px;
  }

  ul{
    color: black;
    list-style-type: none;
  }
  
  li{
    color: black;
    list-style-type: none;
  }

  .carousel-img{
    margin: 40px;
    margin-left: 10%;
    width: 80%;
  }

 button{
  border: 0;
 }


 marquee {
    width: 100%;
    padding-bottom: 10px;
    color: var(--bg-color);
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    margin-bottom: -75px;
 }
 
 .logo-img {
  transition: .5s ease;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
 }

 .container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


:root {
  --bg-color:#c33764;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
      margin-bottom: 20px;
      
      font-family: 'Abril Fatface', serif;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mt-4 {
  display: flex;
  justify-content: center;
}
.card1{
  --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    /* --bs-card-border-color: var(--bs-border-color-translucent); */
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}


#navhover {
  opacity: 1;
}

#navhover:hover {
  opacity: 0.6;
  transition: 0.2s all ease-in-out; 
}
.text-white{
  color:#EE9CA7
}
/*pricing*/.// Variables
$red: #dc2430;
$purple: #7b4397;

// Card
.pr{
  display:inline;
}
h1 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
}

.pricing-card {
    width: 500px;
    font-family: 'Open Sans';
    display:inline;
}

/*pricing*/.// Variables
$red: #dc2430;
$purple: #7b4397;

// Card
.pr{
  display:flex;
}
h1 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
}

.pricing-card {
    width: 500px;
    font-family: 'Open Sans';
    display:inline;
    margin: 75px auto;
    box-shadow: 15px 30px 30px 0 rgba(220, 36, 48, 0.15);

}

.card-left {
    text-align: center;
    background: linear-gradient(65deg, #7b4397 , #dc2430);
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    border-radius: 6px 0 0 6px;
}



.card-left p {
    font-size: 30px;
}



.card-right {
    text-align: left;
    background: #fff;
    width: 100%;
    color: $red;
    border-radius: 0 6px 6px 0;
    padding: 0px 0px;
}

.card-right h1 {
    margin-bottom: 15px;
    color: #292e31;
    opacity: 0.9;
}

.card-right ul {
    margin-bottom: 40px;
}

.card-right li {
    padding-bottom: 6px;
}

.button {
    text-decoration: none;
    color:  #AD1457;
    background: $red;
    padding: 20px 80px;
    border-radius: 100px;
    transition: all 500ms ease;
}

.button:hover {
    background: $purple;
}

